/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */

body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .rover-header-container a{
      display: none;
      cursor:pointer;
  }
}

@media screen and (min-width:481px) {
  #a10{display:none;}
  #menu_btn{display:block;}
  }

@media only screen and (max-width: 480px) {
  .rover-header-left nav{
    display: none;
  }
}

@media screen and (max-width:480px) {
  #menu_btn { display:inline-block; }
}

@media only screen and (max-width: 480px) {
  .rover-header-link{
    display: none;
  }
}

 @media only screen and (max-width: 480px) {
  .rover-header-right-mobile{
    display: inline-block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .rover-hp-container{
    background-image: url('img\mobile-hero-1.jpg') right no-repeat, url('img\mobile-hero-2.jpg') left;
    width: 100%;
  }
}


@media only screen and (max-width: 480px) {
  .rover-hero-container h1{
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .rover-hero-container h2{
    margin-bottom: 100px;

  }
}

@media only screen and (max-width: 480px) {
  .rover-button-rover-cta{
    display: none;
  }
}


@media only screen and (max-width: 480px) {
  #option .flex{
    display: inline-block;
    cursor: pointer;
    top:0px;
    right:0px
  }
}


@media only screen and (max-width: 480px) {
.rover-cta-header{
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 198, 198);
  padding: 10px;
}
}

@media only screen and (max-width: 480px) {  
  .rover-middle-section h2{
    align-items: center;
  }
}


@media only screen and (max-width: 480px) {
  .rover-two-boxes-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-left: 5px;
  }
}

  @media only screen and (max-width: 480px) {
  .rover-action-shot{
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .rover-quote{
    display: none
  }
}

  @media only screen and (max-width: 480px) {
  .rover-action-dash{
    background-image: url('img\lady-with-her-dogs.jpg');
    width: fit-content;
    height:fit-content;
  }
}

  @media only screen and (max-width: 480px) {
  .rover-123-container-title{
    align-items: center;
  }
}

  @media only screen and (max-width: 480px) {
  .rover-123-item-container{
    flex-direction: column;
  }
  }
  .box {
      width: 100%;
  }

.rover-header-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.rover-header-container nav{
  justify-content: space-between;
}

.rover-header-container a{
  text-decoration: none;
  color: rgb(20, 8, 8);
}

.rover-header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#option{
  display: none;
}

#menu_btn{
  display: none;
}

.rover-hero-title{
  padding-top: 150px;
  font-size: 60px;
}

.rover-hero-title h2{
  font-size: 15px;
}

.rover-hero-container{
  background-image: url('../img/hero.jpg');
  background-size: cover;
  color:rgb(51, 27, 27);
  padding-left: 20px;
  padding-bottom: 300px;
}


.rover-mobile-hero-container{
  display: none;
}


.rover-button-rover-cta{
  background-color: rgb(36, 199, 36);
  color: white;
  border-radius: 20px;
  width: 200px;
  padding:20px;
  text-align:center;
  font-size: 20px;
}

.rover-button-rover-cta-mobile{
  display: none;
}

.rover-cta-box-mobile{
  display: none;
}

.rover-middle-section h2{
  text-align: center;
  padding: 50px;
}


.rover-two-boxes-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 100px;
  margin-left: 10%;
}

.rover-facts-container{
  width: max-content
}

.rover-cta-header{
  display: flex;
  width: 500px;
  height: min-content;
  background-color: rgb(204, 198, 198);
  border-color: black;
  justify-content: space-around;
  padding: 10px;
}

.rover-cta-bottom-container{
  padding: 30px;
}

.rover-facts{
  padding: 10px;
  line-height: 2.5;
}

#rover-cta{
  background-color: rgb(8, 199, 8);
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  padding:10px;
  align-items: center;
}

.rover-protections{
  width: 50%;
  align-items: center;
}

.rover-123-container-title{
  text-align: center;
  padding: 30px;
}

.rover-action-shot{
  background-image: url('../img/lady-with-her-dogs.jpg');
  background-size: cover;
  padding-bottom: 400px;
  margin-left: 70px;
  margin-right: 70px;
}

.rover-quote{
  background-size:contain;
  background-color: white;
  width: 25%;
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding: 25px;
  z-index: 20;
}

.rover-quote a{
  font-weight: normal;
  font-size: large;
}

.grey{
  color: gray;
}

.dog{
  font-size: large;
  font-weight: normal;
}

.rover-123-item-container{
  display: flex;
  width: max-content;
  margin-left: 15%;
  gap: 15px;
}
.rover-123-item-container h3{
  width: auto;
}